body {
	background-color: #29190f;
}
.jumbotron {
	margin-top: 20px;
	background-image: url("../images/clue_drawn.jpg");
	background-size: cover;
	background-position: center top;
	height:397px;
}

.jumbotron h1 {
	margin-top: -15px;
	color: #29190f;
	font-weight: bold;
}